
<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
    <% end %>


    <div class="form-group WhiteFont"> 
        <%= f.label :imie, "Name" %>
        <%= f.text_field :imie, class: "form-control" %>
    </div>
    <div class="form-group WhiteFont">
        <%= f.label :nazwisko, "Surname" %>
        <%= f.text_field :nazwisko, class: "form-control" %> 
    </div>
    <div class="form-group WhiteFont">
        <%= f.label :data_ur, "Birth date" %>
        <%= f.date_field :data_ur, class: "form-control" %>
    </div>
    <div class="form-group WhiteFont"> 
        <%= f.label :login, "Username" %>
        <%= f.text_field :login, class: "form-control" %>
    </div>
    <div class="form-group WhiteFont">
        <%= f.label :email, "Email" %>
        <%= f.text_field :email, class: "form-control" %> 
    </div>
    <div class="form-group WhiteFont">
        <%= f.label :password, "Password" %>
        <%= f.password_field :password, class: "form-control" %>
    </div>
    
        <%= f.submit "Save" %>
<% end %>


