<% if logged_in? %>
		<p>You are logged in as <%= @current_user.login%></p>
        <%= link_to "Log out", logout_path, method: :delete %>
        <%= link_to "Users", users_path, class: "btn btn-default" %><!-- docelowo dla admina-->
		<%= link_to "All posts", posts_path, class: "btn btn-default" %>
		<%= link_to "New post", new_post_path, class: "btn btn-default" %>
<% else %>
        <a class="btn btn-default" href="<%= new_user_path %>" role="button">Sign up</a>
<% end %>
