

<h2 class="WhiteFont">Users</h2>
<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th class="WhiteFont">Imię</th>
            <th class="WhiteFont">Nazwisko</th>
            <th class="WhiteFont">Data urodzenia</th>
            <th></th>
            <th></th>
            
        </tr>
        
        
    </thead>
    <tbody>
        <% @users.each do |user| %>
        <tr>
            <td class="WhiteBckg"><%= link_to user.imie, user_path(user) %></td>
            <td class="WhiteBckg"><%= user.nazwisko %></td>
            <td class="WhiteBckg"><%= user.data_ur %></td>
            <td class="WhiteBckg"><%= link_to "Edycja", edit_user_path(user) %></td>
            <td class="WhiteBckg"><%= link_to "Usuń", user_path(user), method: :delete %></td>
        </tr>
        
        <% end %>
    </tbody>
</table>