<!-- tu byl < content_for :menu do %> <a class="btn btn-default" href="< new_user_path %>" role="button">New user</a>
< link_to "Users", users_path, class: "btn btn-default" %><end %>> teraz jest w partialu _menu.html.erb -->

<!-- wszystko poza content_for end wyświetla się w yield -->


<h1>Users</h1>
<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Data urodzenia</th>
            <th></th>
            <th></th>
            
        </tr>
        
        
    </thead>
    <tbody>
        <% @users.each do |user| %>
        <tr>
            <td><%= link_to user.imie,  user_path(user) %></td>
            <td><%= user.nazwisko %></td>
            <td><%= user.data_ur %></td>
            <td><%= link_to "Edycja",  edit_user_path(user) %></td>
            <td><%= link_to "Usuń",  user_path(user), method: :delete %></td>
        </tr>
        
        <% end %>
    </tbody>
</table>